<div class="row">
    <div class="col s12">
        <span class="room-title">[ {{ room_name }} ] |</span>  <span class="username-header">{{ username }}</span>
        <div class="header-bar-controls">
            <div class="dropdown dropdown-dark">
              <select name="one" class="dropdown-select">
                <option value="">Select…</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>

            <div class="dropdown dropdown-dark">
              <select name="two" class="dropdown-select">
                <option value="">Select…</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
            </div>
        <span class="chat-toggle"><a class="comments"><i class="fa fa-comments"></i> <span class="num">99</span></a></span>
    </div>
</div>

